---
import SectionTitle from "./SectionTitle.astro";
---

<div class="max-w-3xl mx-auto px-4 text-center">
  <SectionTitle title="Sobre nosotros" />
  <p class="text-lg text-text leading-relaxed mt-4">
    Hola, soy Kseniia, vengo de Rusia y ya llevo más de dos años viviendo en
    Guadalajara. Aquí logré cumplir un gran sueño: abrir mi propia pastelería.
    Estaré muy feliz si decides visitarnos. Mi principal objetivo es compartir
    buen sabor y sorprenderte con algo distinto. Ojalá disfrutes tanto de
    nuestros postres como del cariño con el que los hacemos.
  </p>
</div>
