---
import SectionTitle from "./SectionTitle.astro";
---

<div class="max-w-3xl mx-auto px-4 text-center">
  <SectionTitle title="Sobre nosotros" />
  <p class="text-lg text-text leading-relaxed mt-4">
    En Privet horneamos postres rusos tradicionales con ingredientes de calidad y mucho cariño.
    Nuestro objetivo es compartir un pedacito de Rusia aquí en Guadalajara, a través de sabores únicos como Medovik, Napoleón, Kartoshka y más.
  </p>
</div>
