---
import { Phone } from "lucide-static";
---

<header class="sticky top-0 bg-white z-50 shadow-sm">
  <div
    class="max-w-6xl mx-auto px-4 py-4 flex items-center justify-center md:justify-between gap-6"
  >
    <!-- Левая часть: Иконки + номер -->
    <div class="flex items-center gap-4 text-primary">
      <a
        href="tel:+523328385389"
        aria-label="llamar"
        class="flex items-center gap-1 transition"
      >
        <div set:html={Phone} class="w-5 h-5" />
        <span class="font-semibold ml-1">33 2838 5389</span>
      </a>
      <a
        href="https://wa.me/523328385389"
        target="_blank"
        aria-label="WhatsApp"
      >
        <img src="/images/icons8-whatsapp.svg" class="h-[24px]" alt="" />
      </a>

      <a
        href="https://www.instagram.com/reposteria_privet"
        target="_blank"
        aria-label="Instagram"
      >
        <img src="/images/icons8-instagram.svg" class="h-[24px]" alt="" />
      </a>
      <a
        href="https://www.facebook.com/profile.php?id=61553465371002"
        target="_blank"
        aria-label="Facebook"
      >
        <img src="/images/2023_Facebook_icon.svg" class="h-[24px]" alt="" />
      </a>
      <a
        href="https://maps.app.goo.gl/rVaTBCGPD6PN5FT66"
        target="_blank"
        aria-label="Instagram"
      >
        <img src="/images/Google_Maps_icon.svg" class="h-[24px]" alt="" />
      </a>
    </div>

    <!-- Правая часть: Навигация -->
    <nav class="hidden md:flex gap-6 text-sm text-primary uppercase">
      <a href="/#inicio">Inicio</a>
      <a href="/#postres">Postres</a>
      <a href="/#cafe">Café</a>
      <a href="/#decoracion">Decoración</a>
      <a href="/#opiniones">Opiniones</a>
      <a href="/#contacto">Contacto</a>
    </nav>
  </div>
</header>
