---

---

<section class="bg-white py-16">
  <div
    class="max-w-6xl mx-auto px-4 flex flex-col md:flex-row items-center justify-between gap-10"
  >
    <!-- Текст -->
    <div class="md:w-1/2 text-center md:text-left">
      <img
        src="/images/logo.png"
        alt="Logo: Privet - Postres Rusos"
        class="w-[80%] max-w-[200px] md:w-[200px] md:mx-0 mx-auto mb-8"
        loading="lazy"
      />

      <p class="mt-4 text-text text-lg">
        Privet es una pastelería rusa ubicada en Zapopan. Aquí preparamos
        postres que son muy populares en Rusia y en muchos otros países. Son
        sabores diferentes, poco comunes en México, pero que enamoran desde el
        primer bocado.
      </p>
      <div
        class="mt-6 flex flex-col sm:flex-row gap-4 justify-center md:justify-start text-center"
      >
        <a
          href="https://wa.me/523328385389"
          class="bg-primary text-white px-6 py-2 rounded hover:opacity-90 transition text-sm"
        >
          Escríbenos por WhatsApp
        </a>
        <a
          href="https://www.instagram.com/reposteria_privet"
          class="border border-primary text-primary px-6 py-2 rounded hover:bg-primary hover:text-white transition text-sm"
        >
          Síguenos en Instagram
        </a>
      </div>
    </div>

    <!-- Картинка -->
    <div class="md:w-1/2 text-center">
      <img
        src="/images/hero.jpg"
        alt="Pastelería Privet"
        class="w-full max-w-md mx-auto rounded-xl shadow"
        loading="lazy"
      />
    </div>
  </div>
</section>
